doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title
    link(rel='stylesheet', href="bootstrap/css/bootstrap.min.css")
    link(rel='stylesheet', href="styles/schedule.css")

    style(type='text/css').
      .inner>.row {
        padding:0;
      }
      .container{
        padding:0;
        width:1000px;
      }
      .inner{
        padding:0;
      }

  body
    .container
      .inner
        .row
          .col-md-9
            table.table
              thead
                tr
                  th.time 日期
                  th.time 时间
                  th 节目
              tbody
                each item in schedules
                  tr
                    td #{item.begin}
                    td #{item.end}
                    td !{item.description}
          .col-md-3

